@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.example::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  display: none;
}
.add::-webkit-scrollbar {
  display: none;
}

.cards:hover {
  transition: ease-in-out;
  transform: scale(1.05);
  transition-duration: 150ms;
}
.sidebar {
  overflow: auto;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
}
Button {
  text-transform: capitalize;
}
table {
  border: none;
}
.required input:after {
  content: "*";
  color: red;
  size: 20;
}
input:active {
  border: 1px solid #d1d5db;
}

/* =========================== Login / SignUp Styling */
body,
input {
  font-family: "Poppins", "sans-serif";
}
.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: #edf6f9;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 0 5rem;
  overflow: hidden;
  transition: 0.2s 0.7s ease-in-out;
}
.signin-signup {
  z-index: 5;
  top: 50%;
  left: 75%;
  width: 50%;
  transform: translate(-50%, -50%);
  transition: 1s 0.7s ease;
}
.container::before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #006d77, #06adbc);
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  z-index: 6;
  transition: 1.8s ease-in-out;
}
.input-field {
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #fbfff4;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
}

.social-icons {
  color: #006d77;
  border-radius: 50%;
  border: 1px solid #006d77;
  margin: 0 0.45rem;
  padding: 15px;
}
.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-size: 0.8rem;
}
.person,
.password,
.email {
  line-height: 55px;
  text-align: center;
  font-size: 1.1rem;
}
.panel {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  z-index: 7;
}
.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}
.right-panel .content,
.right-panel .image {
  transform: translateX(800px);
}
.image {
  transition: 1.1s 0.4s ease-in-out;
}
form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

/* Animations */
.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }
  .left-panel {
    margin-top: -90px;
  }
  .right-panel {
    margin-bottom: -100px;
  }
  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

/* Admin Panel */

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.truncated-cell {
  max-width: 150px; /* Adjust as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Notification Icon */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.notify {
  position: relative;
  right: -8px;
  top: -10px;
}
.notify .heartbit {
  animation: 1s ease-out 0s normal none infinite running heartbit;
  border: 5px solid #fbfff4;
  border-radius: 70px;
  height: 25px;
  position: absolute;
  right: -4px;
  top: -20px;
  width: 25px;
  z-index: 10;
}
.notify .point {
  background-color: #fbfff4;
  border-radius: 30px;
  height: 6px;
  position: absolute;
  right: 6px;
  top: -10px;
  width: 6px;
}

@keyframes heartbit {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 0.1;
    transform: scale(0.1);
  }
  50% {
    opacity: 0.3;
    transform: scale(0.5);
  }
  75% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.data {
  max-width: 1200px; /* adjust this value to your laptop screen width */
  margin: 0 auto;
  overflow-x: auto;
}
